elevator_termproject/.vs
elevator_termproject/elevator_termproject/Debug
elevator_termproject/elevator_termproject/elevator_termproject.componentinfo.xml
elevator_termproject/elevator_termproject/elevator_termproject.cproj

tinyRTC/.vs
tinyRTC/tinyRTC/Debug
tinyRTC/tinyRTC/tinyRTC.componentinfo.xml/tinyRTC.cproj
.DS_Store
